body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("../images/foto1.jpg");
  min-height: 690px;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../images/foto2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../images/foto3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

/* Arreglo de logo en el centro */
.w3-col.m6, .w3-half {
    width: 100%;
}

.w3-black, .w3-hover-black:hover {
  color: #fff!important;
  background-color: #282828!important;
  opacity: .6;
}

.w3-dark-grey, .w3-hover-dark-grey:hover, .w3-dark-gray, .w3-hover-dark-gray:hover {
  color: #fff!important;
  background-color: #282828!important;
  opacity: .6;
}

.aboutfont {
  font-size: 18px;
  text-align: center;
}